._button_218hp_1 {
	--btn-icon-size: 1em;
	background: var(--bg-btn-inactive);
	color: #ffffff;
	padding: 10px 14px;
	border: none;
	cursor: var(--cursor-interactive);
	display: inline-flex;
	flex-direction: row;
	font-size: 0.9rem;
	font-family: inherit;
	align-items: center;
	gap: 6px;
	user-select: none;
	text-decoration: none;
	line-height: 1.2;
}

._bigIcon_218hp_19 {
	--btn-icon-size: 24px;
}

._button_218hp_1:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

._button_218hp_1._loading_218hp_28 {
	cursor: wait;
	animation: _shimmer_218hp_1 2.2s linear infinite forwards;
    background-image: linear-gradient(to right, transparent 8%, #ffffffa1 18%, transparent 33%);
    background-size: 1200px 100%;
}

._button_218hp_1:not(:disabled):hover {
	background: var(--bg-btn-inactive-dark);
}

._button_218hp_1 > svg {
	--base-transform: scale(1);
	display: block;
	width: var(--btn-icon-size);
	height: var(--btn-icon-size);
	transform: var(--base-transform);
}

._button_218hp_1:not(._bigIcon_218hp_19) > svg {
	--base-transform: scale(1.3);
}

._spinnyIcon_218hp_51 > svg {
	animation: _spin_218hp_51 1s linear infinite;
}

._accent_218hp_55 {
	background: var(--accent);
}

._accent_218hp_55:not(:disabled):hover {
	background: var(--accent-dark);
}

@keyframes _shimmer_218hp_1 {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

@keyframes _spin_218hp_51 {
	0% {
		transform: var(--base-transform) rotate(0deg);
	}
	100% {
		transform: var(--base-transform) rotate(360deg);
	}
}