:root {
  --accent: #000000ff;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: wheat;
}

canvas {
  display: block;
  background: #000000;
  height: 100vh;
  aspect-ratio: 800 / 600;
  image-rendering: pixelated;
  outline: none;
  width: auto;
  box-sizing: inherit;
}