<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ game.title or slug }}</title>
  <style>
    :root {
      --accent: #000000ff;
    }
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: wheat;
    }
    canvas {
      
    display: block;
    background: #000000;
    height: auto;
    aspect-ratio: 800 / 600;
    image-rendering: pixelated;
    outline: none;
    width: 100%;
    box-sizing:inherit;
    
    
    }
    .canvas-container {
      border: 2px solid var(--accent);
      width: 100%;
      max-width: 1000px;
      height:auto;
      flex-grow: 1;
      box-sizing: border-box;
      padding: 10px;
    }
  </style>
</head>
<body>
<div class="canvas-container">
  <canvas id="canvas" width="800" height="700" tabindex="0"></canvas>
</div>


  <script type="module">
    import { webEngine } from "https://esm.sh/sprig@1/web";

    const canvas = document.getElementById("canvas");
    const game = webEngine(canvas);

    fetch(`/games/{{ slug }}.js`)
      .then(r => r.text())
      .then(code => {
        const fn = new Function(...Object.keys(game.api), code);
        fn(...Object.values(game.api));
        canvas.focus();
      });

    document.addEventListener('click', () => canvas.focus());
  </script>
</body>
</html>
