<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Random Games | UTC OLP</title>
  <link rel="stylesheet" href="../assets/game.css">
  <link rel="icon" type="image/png" href="../assets/utc-olp.png">
</head>
<body>
  <canvas id="canvas" width="800" height="600" tabindex="0"></canvas>
  <script type="module">
    import { webEngine } from "https://esm.sh/sprig@1/web";
  
    const games = {{ games|tojson }};
    const slugs = Object.keys(games);
    let i = Math.floor(Math.random() * slugs.length);
    const slug = slugs[i]
    console.log("slug", slug)
    const canvas = document.getElementById("canvas");
    fetch("../games/"+slug+".js")
      .then(r => r.text())
      .then(code => {
        const game = webEngine(canvas);
        const fn = new Function(...Object.keys(game.api), code);
        fn(...Object.values(game.api));
        canvas.focus();
    });

    document.addEventListener('click', () => canvas.focus());
  </script>
</body>
</html>
