body {
  overflow-y: scroll;
  background: rgb(255, 255, 255);
  color: black;
}

.copy-container>h1 {
  margin-bottom: 12px;
}

p {
  margin: 0;
}

.info-split {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.search-container,
.join-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-container {
  flex: 2;
}

.join-container {
  flex: 1;
}

.search-controls {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-controls .search {
  flex: 1;
}

.select,
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.randomButton {
  height: 100%;
  background: white;
  border: 0.01px solid;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  transition: 0.4s ease-in-out;
}

.randombutton:hover {
  transform: translate(1px, 2px);
  box-shadow: 10px 10px;
}

.select select {
  line-height: 1.2;
  background: var(--bg-btn-inactive);
  color: #ffffff;
  border: none;
  border: 2px solid var(--bg-btn-inactive);
  padding: 8px 12px;
  padding-right: 20px;
  appearance: none;
  display: block;
  font-size: 0.9rem;
  font-family: inherit;
  outline: none;
  width: 100%;
  user-select: none;
}

.select svg {
  color: var(--fg-muted);
  pointer-events: none;
  position: absolute;
  right: 8px;
  font-size: 0.9rem;
}

.search svg {
  color: #5b5b5b;
  pointer-events: none;
  position: absolute;
  left: 12px;
}

.search input {
  padding-left: 32px;
}

#games {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 14px;
}

.game {
  background: var(--accent);
  color: #ffffff;
  padding: 12px;
  user-select: none;
  position: relative;
}

.game:hover {
  background: var(--accent-dark);
  color: #ffffff;
}

.game .badge {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: center;
  padding: 4px 10px;
  font-weight: 200;
  box-shadow: 0 2px 4px 0 #00000037;
}

.game .badge.new {
  background: #fcc419;
  color: #000000;
}

.game .badge.tutorial {
  background: #339af0;
  color: #ffffff;
}

.game img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: #ffffff;
  color: #000000;
  /* For error messages */
  object-fit: contain;
  image-rendering: pixelated;
}

.game p,
.game h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 1.2rem;
}

.game .author {
  color: var(--fg-muted-on-accent);
  margin-top: 2px;
}

.game .tags {
  color: var(--fg-muted-on-accent);
  margin-top: 2px;
  font-size: 0.9rem;
}

.filter-tags {
  margin: 1em 0;
}

.tag-span {
  margin: 0 7px 0 0;
  padding: 4px 8px;
  background-color: #434343;
  color: white;
  cursor: pointer;
}

.tag-span:hover {
  text-decoration: underline;
  background-color: #363636;
  animation: shadow 0.5s forwards;
}

.game-tag:hover {
  text-decoration: underline;
  font-weight: 600;
}

.tag-clear:hover {
  text-decoration: none;
  font-weight: 600;
  color: #ff3333;
}

.tag-close {
  position: relative;
}

.tag-close:hover {
  text-decoration: none;
  font-weight: 800;
  color: #ff3333;
}

@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px 0px #078969;
  }

  to {
    box-shadow: 2px 2px 2px 0px #078969;
  }
}

@media screen and (max-width: 600px) {
  .search-controls {
    flex-direction: column;
  }

  .info-split {
    flex-direction: column;
  }

  .join-container button {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

#search-input {
  height: -webkit-fill-available;
}

aside {
  display: block;
  align-items: center;
  width: 21%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20%;
  text-align: center;
}

aside>img {
  object-fit: cover;
  display: inline;
  border-radius: 100px;
}

aside>p {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  width: 60%;
  flex: 1;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
}

nav {
  margin: auto;
  width: 65%;
  height: 60px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 00px;
  background-color: #eb7d26;

}

main {
  margin: auto;
  width: 65%;
  padding: 0px;  
}

.randomButton {
  height: 100%;
  background: white;
  border: 0.01px solid;
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  transition: 0.4s ease-in-out;
}

.randomButton:hover {
  transform: translate(-3px, -5px);
  box-shadow: 3px 3px;
}